@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../../tailwind.config.mjs";

.hide-scrollbar {
    @apply [-ms-overflow-style:none] [scrollbar-width:none];
}

.hide-scrollbar::-webkit-scrollbar {
    @apply hidden;
}

.remark-code-title {
    @apply rounded-t-lg bg-slate-600 pl-3 text-base font-bold text-white;
}

.remark-code-title + pre {
    @apply mt-0 rounded-t-none;
}
