@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../../tailwind.config.mjs";

figcaption {
    @apply text-center;
}

details {
    @apply my-4 rounded-lg border border-gray-300 bg-white p-2 shadow-lg dark:border-gray-600 dark:bg-slate-900;
}

details summary {
    @apply hover:underline;
}

details summary::-webkit-details-marker {
    @apply inline;
}
.rlc-container {
    @apply mx-auto mt-0 mb-8 flex max-h-32 w-full items-stretch overflow-hidden rounded-lg border border-gray-300 bg-white text-black no-underline shadow-lg dark:border-gray-600 dark:bg-slate-900 dark:text-white;

    /* width: 100%;
  max-width: 800px;
  max-height: 120px;
  margin: 0 auto 2rem; */
    /* 
  color: black;
  text-decoration: none;

  border: 1px solid black;
  border-radius: 0.25rem;
  display: flex;
  align-items: stretch; */

    /* transition: background 200ms ease-in-out 0s, box-shadow 200ms ease-in-out 0s; */
}

/*
.rlc-container:hover {
   background-color: rgba(80,80,80, 0.1);
  box-shadow: 0 4px 5px 2px rgba(80,80,80, 0.2); 
}
*/

.rlc-info {
    @apply flex min-w-0 flex-[4_1_100px] flex-col justify-between overflow-hidden p-2 text-left;
    /* overflow: hidden;
  padding: 0.5rem; */
    /* flex: 4 1 100px; */
    /* text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.rlc-title {
    @apply line-clamp-1 text-lg font-bold text-ellipsis text-black hover:underline dark:text-white;
    /* font-size: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.rlc-description {
    @apply line-clamp-2 h-8 overflow-hidden text-sm leading-4 text-gray-700 dark:text-gray-300;
    /* color:#333; */
    /* color: #333;
  overflow: hidden;
  line-height:1rem;
  height: 2rem; */
}

.rlc-url-container {
    @apply flex flex-row items-center;
}

.rlc-favicon {
    /* margin-right: 4px; */
    /* width: 16px;
  height: 16px; */
    @apply m-0 mr-2 h-4 w-4;
}

.rlc-url {
    @apply line-clamp-1 overflow-hidden text-base text-ellipsis whitespace-nowrap;
    /* font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */
}

.rlc-image-container {
    /* position: relative; */
    /* flex: 1 1 100px;z1 */
    @apply flex min-w-0 grow basis-[100px];
}

.rlc-image {
    /* object-fit: cover;
  width: 100%;
  height: 100%; */
    /* border-bottom-right-radius: 0.20rem;
  border-top-right-radius: 0.20rem; */
    @apply m-0 h-full w-full rounded-none object-cover;
}
