---
import SingleColumnLayout from "../../layouts/SingleColumnLayout.astro";
import { getTags } from "../../lib/unitl";
import Tag from "../../components/Tag.astro";
import RoundedBox from "../../layouts/RoundedBox.astro";
import BasicLayout from "../../layouts/BasicLayout.astro";
import { NavigationPage } from "../../components/Navigation.astro";

const tagInfoList = await getTags();
const sortedTagInfoList = tagInfoList.sort((a, b) => {
    if (a.count == b.count) {
        return a.tag.localeCompare(b.tag);
    } else {
        return (b.count - a.count)
    }
});
---
<BasicLayout title="すべてのタグ" desc="@pullrikuによる技術ブログの、すべての記事を見ることができます。" selectedPage={NavigationPage.Tags}>
    <div class="px-4 lg:px-16">
        <h1>すべてのタグ</h1>
    </div>
    <div class="overflow-scroll pb-4 px-4 lg:px-16">
        <!-- <RoundedBox><Tag tag="テストタグ" count={100}/></RoundedBox>
        <RoundedBox><Tag tag="テストタグ" count={50}/></RoundedBox>
        <RoundedBox><Tag tag="test" count={10}/></RoundedBox>
        <RoundedBox><Tag tag="test" count={5}/></RoundedBox> -->
        {sortedTagInfoList.map(({tag, count}) => (
            <RoundedBox><Tag tag={tag} count={count}/></RoundedBox>
        ))}
    </div>
</BasicLayout>
