---
import type { GetStaticPaths, Page } from "astro";
import { getAllPosts } from "@lib/util";
import SingleColumnLayout from "@layouts/SingleColumnLayout.astro";
import MoreArticles from "@components/MoreArticles.astro";
import type { CollectionEntry } from "astro:content";
import PageLink from "@components/PageLink.astro";
import { NavigationPage } from "@components/Navigation.astro";
import PageTitle from "@layouts/PageTitle.astro";

export const pageSize = 30;

export const getStaticPaths = (async ({ paginate }) => {
    const posts = await getAllPosts();

    return paginate(posts, { pageSize: pageSize });
}) satisfies GetStaticPaths;

const { page }: { page: Page<CollectionEntry<"posts">> } = Astro.props;
const data = page.data.sort(
    (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
---
<SingleColumnLayout title='すべての記事' desc='@pullrikuによる技術ブログの、すべての記事を見ることができます。' selectedPage={NavigationPage.Posts}>
    <PageTitle>すべての記事</PageTitle>
    
    <PageLink page={page} />

    <div>
        <MoreArticles posts={data} />
    </div>

    <PageLink page={page} />
</SingleColumnLayout>
