---
import Prose from "@layouts/Prose";
import SingleColumnLayout from "@layouts/SingleColumnLayout.astro";
---

<SingleColumnLayout desc="ページが見つかりません" class:list={"bg-ocean"}>
    <Prose>
        <h1>404 - Page Not Found</h1>
        <p>お探しのページは見つかりませんでした。</p>
    </Prose>
</SingleColumnLayout>
