---
import MoreArticles from '../components/MoreArticles.astro';
import HeroArticle from '../components/HeroArticle.astro';
import SingleColumnLayout from '../layouts/SingleColumnLayout.astro';
import { getAllPostsWithHero } from '../lib/unitl';
import BlueLink from '../components/BlueLink.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const { hero, others } = await getAllPostsWithHero();

const numOthers = 30;

let posts = others;
let omitted = false;
if (others.length > numOthers) {
	posts = others.slice(0, numOthers);
	omitted = true;
}
---

<SingleColumnLayout desc=`@pullrikuによる技術ブログです。他サービスに投稿した記事もまとめています。`>
	<div class="max-w-4xl mx-auto">
		<HeroArticle post={hero}/>
	</div>
	<MoreArticles posts={posts} />
	<div class="flex justify-center">
		{
			omitted ?? (
				<BlueLink text="もっと見る" href="/all/1" />
			)
		}
	</div>
</SingleColumnLayout>
