---
type Props = {
    text: string,
    href: string,
};

const { text, href } = Astro.props;
---

<a href={href} class="inline-block w-fit shadow-lg text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 mt-8 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
    {text}
</a>
