---
type Props = {
    datetime: Date;
};
const { datetime } = Astro.props;
const isoString = datetime.toISOString();
---
<div class="text-sm text-gray-500 text-right ml-auto">
    <time datetime={isoString}>{isoString.split('T')[0]}</time>
</div>
