---
// フッター。コピーライトを表示する。
---

<footer class="min-h-12 p-4 text-center">
  <a
    class="text-gray-700 hover:underline dark:text-gray-300"
    href={`${Astro.url.protocol}//${Astro.url.host}/docs/privacy`}
  >
    プライバシーポリシー
  </a>
  <p class="">Copyright &copy; {new Date().getFullYear()} Riku Tatsumi</p>
</footer>
