---
// 記事の一覧。渡された記事の一覧を表示する。
import type { CollectionEntry } from "astro:content";
import PostCard from "@components/PostCard.astro";

type Props = {
    posts: CollectionEntry<"posts">[];
};

const { posts } = Astro.props;
---

<ul class="grid grid-cols-1 gap-4 md:grid-cols-2">
    {
        posts.map((post) => (
            <li>
                <PostCard post={post} />
            </li>
        ))
    }
</ul>
