---
// 記事の一覧。渡された記事の一覧を表示する。
import type { CollectionEntry } from "astro:content";
import PostPreview from "@components/PostPreview.astro";

type Props = {
    posts: CollectionEntry<"posts">[];
};

const { posts } = Astro.props;
---

<ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4">
    {
        posts.map((post) => (
            <li>
                <PostPreview post={post} />
            </li>
        ))
    }
</ul>
