---
import NavigationEntry from "./NavigationEntry.astro";

export enum NavigationPage {
    Home = "/",
    Posts = "/all/1",
    Tags = "/tags",
    About = "/about",
}

export type NavigationProps = {
    selectedPage?: NavigationPage;
};

type Props = NavigationProps;

const { selectedPage } = Astro.props;
// ナビゲーションバー。
---
<div class="flex gap-8 h-full">
    <NavigationEntry href="/" title="Home" selected={selectedPage === NavigationPage.Home} />
    <NavigationEntry href="/all/1" title="Articles" selected={selectedPage === NavigationPage.Posts} />
    <NavigationEntry href="/tags" title="Tags" selected={selectedPage === NavigationPage.Tags} />
    <NavigationEntry href="/about" title="About" selected={selectedPage === NavigationPage.About} />
    <!-- <a href="/all/1">記事</a>
    <a href="/tags">タグ</a>
    <a href="/about">自己紹介</a> -->
</div>
