---
    import type { CollectionEntry } from "astro:content";
    import { getPostHistory, type PostHistory } from "@lib/gitlog";
    import dayjs from "dayjs";
    import timezone from "dayjs/plugin/timezone";
    import utc from "dayjs/plugin/utc";

    dayjs.extend(utc);
    dayjs.extend(timezone);

    type Props = {
        post: CollectionEntry<"posts">;
    };

    const { post } = Astro.props;
    const isMdx = (post.filePath ?? "").endsWith(".mdx");

    const logs: PostHistory[] = Array.from(getPostHistory(post.id, isMdx));
---
{
    logs.length !== 0 && (
        <div>
            <h2>変更履歴</h2>
            <table>
                <tr>
                    <th>日時</th>
                    <th>内容</th>
                </tr>
                {logs.map((log) => (
                    <tr>
                        <td>
                            <time datetime={log.date.toString()}
>
{log.date
                                    .tz("Asia/Tokyo")
                                    .format("YYYY-MM-DD HH:mm:ss Z")}
