---
    import { Icon } from "astro-icon/components";

    type Props = {
        name: string;
    };

    const { name } = Astro.props as Props;
---
<span class="line-clamp-1 flex items-center gap-1 wrap-anywhere">
    <Icon
        name="ic:baseline-library-books"
        width="1em"
        height="1em"
        class="shrink-0"
    />
    <span class="">{name}</span>
</span>
