---
import Tag from "@components/TagLink.astro";
import RoundedBox from "@layouts/RoundedBox.astro";

type Props = {
    tags: string[];
};

const { tags } = Astro.props;
---

<div class="relative">
    <div
        class="hide-scrollbar flex h-16 flex-row overflow-x-scroll px-4 pr-12 md:px-0"
    >
        <div class="mx-8 inline-flex">
            {
                // タグ
                tags.map((tag) => (
                    <RoundedBox key={tag}>
                        <Tag tag={tag} count={undefined} />
                    </RoundedBox>
                ))
            }
        </div>
    </div>
    {/* グラデーションオーバーレイ */}
    <div
        class="pointer-events-none absolute top-0 right-0 h-full w-12 bg-gradient-to-l from-slate-100 to-transparent dark:from-slate-950"
    >
    </div>
    <div
        class="pointer-events-none absolute top-0 left-0 h-full w-12 bg-gradient-to-r from-slate-100 to-transparent dark:from-slate-950"
    >
    </div>
</div>
