<div
  class="prose dark:prose-invert
    prose-h1:font-bold prose-h1:text-xl
  prose-a:text-blue-600 dark:prose-a:text-blue-400 
    prose-p:text-justify !max-w-none
    prose-img:rounded-xl prose-img:mx-auto
  ">
  <slot />
</div>
