---
import { DARK_BORDER, DARK_OVERLAY, LIGHT_OVERLAY } from "../lib/consts"
---
<div class={"inline-block h-max px-2 m-1 border border-gray-300 shadow-lg rounded-full text-center" + ` ${LIGHT_OVERLAY} ${DARK_OVERLAY} ${DARK_BORDER}`}>
    <slot />
</div>
