---
import { DARK_OVERLAY, LIGHT_OVERLAY } from "../lib/consts"
---
<div class={"inline-block h-max px-2 m-1 border border-gray-300 dark:border-gray-600 shadow-lg rounded-full text-center" + ` ${LIGHT_OVERLAY} dark:${DARK_OVERLAY} `}>
    <slot />
</div>
