---
import BasicLayout, { type BasicLayoutProps } from "@layouts/BasicLayout.astro";

type Props = BasicLayoutProps & {
    class?: string;
};

const { class: className = "", ...basicLayoutProps } = Astro.props;
---

<BasicLayout {...basicLayoutProps}>
    <div class={"mx-auto lg:px-16" + ` ${className} `}>
        <slot />
    </div>
</BasicLayout>
