name: Cloudflare Pages

on: [push, workflow_dispatch]

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            deployments: write
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  submodules: true
                  fetch-depth: 0
                  token: ${{ secrets.GITHUB_TOKEN }}
            - name: Setup Bun
              uses: oven-sh/setup-bun@v2
            - name: Install dependencies
              run: bun --bun install
            - name: Build
              run: bun --bun run build

            - name: Publish to Cloudflare Pages
              uses: cloudflare/wrangler-action@v3
              with:
                  accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
                  apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
                  gitHubToken: ${{ secrets.GITHUB_TOKEN }}
                  packageManager: pnpm
                  command: "pages deploy ./dist --project-name=pullriku-blog-astro"
